* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
  width: auto;
  background-color: #1c025a;
  padding-top: 45px;
}

.hamburger {
  display: none;
  cursor: pointer;
  justify-content: end;

}

.nav-list {
  right: -100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 3px solid gray;
}
nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: blanchedalmond;
}

/* header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-textoverlay{
  position: absolute;
  top:650px;
  left:600px;
  transform: translate(-50%, -50%);
} */
header h1,
P {
  color: rgb(181, 19, 116);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-align: center;
}

.acad-header {
  background-color: #eee8e8;
  padding: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  justify-content: center;
}

main {
  margin-right: 25px;
  margin-left: 25px;
}
main h2 {
  color: rgb(32, 11, 228);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-align: center;
}
main h3 {
  padding: 20px;
}
main img {
  width: 320px;
  height: 320px;
}
figure {
  margin-right: 5px;
  margin-bottom: 20px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #1c025a;
}
.footer-link {
  justify-content: center;
  display: flex;
}
footer ul {
  display: flex;
}

footer li {
  list-style: none;
  margin-left: 3px;
  padding-left: 3px;
  border-left: 3px solid chocolate;
}
footer li:first-child {
  border-left: none;
}
footer a {
  text-decoration: none;
  color: bisque;
  font-size: small;
}
.footer-socials a {
  color: rgb(200, 14, 126);
}

/* Academic PAGE  RESPONSIVE LAYOUT*/
@media screen and (max-width: 900px) {
  header img {
    height: auto;
  }
  .nav-list {
    display: none;
    position: absolute;
    right: -100%;
    top: 10%;

    background: rgba(28, 2, 90, 0.2);
    width: 250;
    height: auto;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    backdrop-filter: blur(5px);
  }
  .nav-list li {
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .hamburger {
    display: block;
    display: flex;
    padding: 10px;
  }

  .nav-list.active {
    display: block;
    right: 0;
  }

  .nav-list li {
    border-right: none;
    border-bottom: 2px solid gray;
  }

  footer ul {
    display: flex;
    padding: 10px;
  }
  .footer-socials {
    display: none;
  }
}
