* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.school-logo {
  background-color: white;
  text-align: center;
  padding: 15px;
}
.school-logo h1 {
  color: #1e075e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.school-logo P {
  color: rgb(244, 177, 6);
  text-align: center;
  padding: 10px;
}

nav {
  height: 100%;
  width: auto;
  background-color: #1c025a;
}

.hamburger {
  display: none;
  cursor: pointer;
  justify-content: end;
}

.nav-list {
  right: -100%;
  justify-content: flex-end;
  margin: 5px 0 5px 0;
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 3px solid gray;
}
nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: blanchedalmond;
}

.home-para {
  background-color: #0d3e9b;
  color: rgb(220, 185, 10);
  font-size: 20px;
  margin-top: -3px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px;
  text-align: center;
}

.admin-header {
  background-color: #7ab3dc;
  padding: 10px 0 10px;

  display: flex;
  justify-content: space-around;
}
.fa-solid {
  border-radius: 70px;
  background-color: antiquewhite;
}

.admin-rate {
  /* display: flex;  */
}

.header-rate-para {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.alert {
  padding-top: 15px;
  text-align: center;
  color: rgb(5, 109, 24);
}

.admin-sec1 {
  display: flex;
  margin: 50px;
}
.admin-sec1 h1 {
  color: rgb(252, 215, 2);
  font-size: 12px;

  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.admin-sec1 p {
  font-size: 15px;
  margin: 15px 0 15px 0;
}

.whychoseus {
  max-width: 800px;
}

img {
  border-radius: 10px;
  margin-top: 15px;
}

.whyus {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.us {
  margin-right: 5px;
  margin-bottom: 10px;
  /* width: calc(100% 0px); */
  width: 250px;
  height: 120px;
  border: 2px solid gray;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  background-color: rgb(230, 192, 24);
}

button {
  background-color: #033958;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.action {
  background-color: #e0e4eb;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.action h1 {
  color: #0d3e9b;
}

.action p {
  color: rgb(16, 50, 82);
  padding: 10px;
}

.action button {
  padding: 10px;
  color: rgb(242, 242, 237);
}

footer {
  height: 70px;
  width: 100%;
  background-color: #1c025a;
}
.footer-link {
  justify-content: center;
  display: flex;
}
footer ul {
  display: flex;
}

footer li {
  list-style: none;
  margin-left: 3px;
  padding-left: 3px;
  border-left: 3px solid chocolate;
}
footer li:first-child {
  border-left: none;
}
footer a {
  text-decoration: none;
  color: bisque;
  font-size: small;
}
.footer-socials a {
  color: rgb(200, 14, 126);
  margin-right: 10px;
  margin-left: 20px;
}


/* HOME PAGE  RESPONSIVE LAYOUT*/

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  header img {
    height: auto;
  }
  .nav-list {
    display: none;
    position: absolute;
    right: -100%;
    top: 70%;

    background: rgba(28, 2, 90, 0.2);
    width: 250;
    height: auto;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    backdrop-filter: blur(5px);
  }
  .nav-list li {
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .hamburger {
    display: block;
    display: flex;
    padding: 10px;
  }

  .nav-list.active {
    display: block;
    right: 0;
  }

  .nav-list li {
    border-right: none;
    border-bottom: 2px solid gray;
  }

  footer ul {
    display: flex;
    padding: 10px;
  }
  .footer-socials {
    display: none;
  }

  .admin-sec1 {
    display: flex;
    flex-direction: column;
  }
}
